In [1]:
import pandas as pd

In [2]:
cv_mithlesh=pd.read_csv("project-1-at-2025-01-24-18-41-a04376c2.csv")
cv_jenil=pd.read_csv("JENIL_CV.csv")
cv_outsider=pd.read_csv("py.csv")

In [28]:
cv_jenil

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,12,1,No Trucks,2025-01-24T13:01:19.691513Z,31,/data/upload/2/49510674-img_705.jpg,1.934,2025-01-24T13:01:19.691533Z
1,13,1,No Trucks,2025-01-24T13:01:23.777567Z,32,/data/upload/2/e44ac6de-img_706.jpg,10.873,2025-01-24T13:01:23.777589Z
2,14,1,No Trucks,2025-01-24T13:01:27.357938Z,33,/data/upload/2/5617ac5d-img_707.jpg,2.485,2025-01-24T13:01:27.357966Z
3,15,1,Trucks,2025-01-24T13:01:30.719072Z,34,/data/upload/2/d8388828-img_708.jpg,5.082,2025-01-24T13:01:30.719093Z
4,16,1,Trucks,2025-01-24T13:01:37.359168Z,35,/data/upload/2/9cb0ee26-img_709.jpg,6.824,2025-01-24T13:01:37.359189Z
5,17,1,No Trucks,2025-01-24T13:01:40.986467Z,36,/data/upload/2/f0acc3af-img_710.jpg,2.498,2025-01-24T13:01:40.986490Z
6,18,1,No Trucks,2025-01-24T13:01:44.433887Z,37,/data/upload/2/9e74395a-img_711.jpg,2.534,2025-01-24T13:01:44.433910Z
7,19,1,Trucks,2025-01-24T13:01:58.174251Z,38,/data/upload/2/e373fe5d-img_712.jpg,12.595,2025-01-24T13:01:58.174273Z
8,20,1,No Trucks,2025-01-24T13:02:23.715729Z,39,/data/upload/2/80537bce-img_713.jpg,19.674,2025-01-24T13:02:23.715752Z
9,21,1,Trucks,2025-01-24T13:02:31.515241Z,40,/data/upload/2/20a6fb8a-img_714.jpg,6.681,2025-01-24T13:02:31.515267Z
10,22,1,Trucks,2025-01-24T13:02:34.490064Z,41,/data/upload/2/834272d5-img_715.jpg,2.178,2025-01-24T13:02:34.490086Z
11,23,1,No Trucks,2025-01-24T13:02:37.713123Z,42,/data/upload/2/3e81ad2f-img_716.jpg,2.206,2025-01-24T13:02:37.713144Z
12,24,1,Trucks,2025-01-24T13:02:40.546743Z,43,/data/upload/2/42767c46-img_717.jpg,1.903,2025-01-24T13:02:40.546768Z
13,25,1,No Trucks,2025-01-24T13:02:44.198694Z,44,/data/upload/2/5924198c-img_718.jpg,2.492,2025-01-24T13:02:44.198715Z
14,26,1,No Trucks,2025-01-24T13:02:47.728449Z,45,/data/upload/2/3cb161a5-img_719.jpg,2.360,2025-01-24T13:02:47.728472Z
15,27,1,No Trucks,2025-01-24T13:02:51.160774Z,46,/data/upload/2/31b8ebc3-img_700.jpg,1.986,2025-01-24T13:02:51.160796Z
16,28,1,No Trucks,2025-01-24T13:02:56.479336Z,47,/data/upload/2/152ab980-img_701.jpg,4.384,2025-01-24T13:02:56.479361Z
17,29,1,No Trucks,2025-01-24T13:03:00.662125Z,48,/data/upload/2/fb95f3e7-img_702.jpg,3.052,2025-01-24T13:03:00.662147Z
18,30,1,No Trucks,2025-01-24T13:03:04.215737Z,49,/data/upload/2/dd979da8-img_703.jpg,2.360,2025-01-24T13:03:04.215762Z
19,31,1,Trucks,2025-01-24T13:03:10.004560Z,50,/data/upload/2/e48c22e3-img_704.jpg,2.148,2025-01-24T13:03:10.004612Z

In [4]:
nlp_mithlesh=pd.read_csv("project-9-at-2025-01-24-18-38-28bf5650.csv")

In [5]:
nlp_mithlesh

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,23,1,2025-01-24T11:48:57.237584Z,21,"[{""start"":0,""end"":3,""text"":""गृह"",""labels"":[""NO...",2634.488,गृह लक्ष्मी योजना की शुरुआत के मौके पर PM Modi...,2025-01-24T11:48:57.237584Z
1,24,1,2025-01-24T11:52:16.056322Z,22,"[{""start"":0,""end"":6,""text"":""दुनिया"",""labels"":[...",168.965,दुनिया की सबसे बड़ी महिला डायरेक्ट बेनिफिट ट्र...,2025-01-24T11:52:16.056322Z
2,25,1,2025-01-24T11:53:44.234816Z,23,"[{""start"":1,""end"":9,""text"":""महिलाओं "",""labels""...",81.792,"""महिलाओं को तोहफा, Congress हर महीने 2000 रुपय...",2025-01-24T11:53:44.234816Z
3,26,1,2025-01-24T11:56:21.508754Z,24,"[{""start"":0,""end"":3,""text"":""ये "",""labels"":[""PR...",140.760,ये INDIA की ताकत है कि Modi सरकार Gas Cylinder...,2025-01-24T11:56:21.508754Z
4,27,1,2025-01-24T12:09:22.107957Z,25,"[{""start"":1,""end"":5,""text"":""चीन "",""labels"":[""P...",329.493,"""चीन ने मैप जारी कर अरूणाचल-अक्साई चिन को अपना...",2025-01-24T12:09:22.107957Z
5,28,1,2025-01-24T12:11:27.831255Z,26,"[{""start"":15,""end"":18,""text"":""BJP"",""labels"":[""...",122.714,"""लाल डायरी में BJP के मंत्रियों के नाम, देखते ...",2025-01-24T12:11:27.831255Z
6,29,1,2025-01-24T12:15:16.982530Z,27,"[{""start"":1,""end"":2,""text"":""4"",""labels"":[""NUM""...",219.595,"""4 दिन पहले Modi-Jinping की मुलाकात, अब चीन नक...",2025-01-24T12:15:16.982530Z
7,30,1,2025-01-24T12:18:18.104085Z,28,"[{""start"":1,""end"":4,""text"":""PM "",""labels"":[""PR...",177.820,"""PM Modi से मुलाकात के 4 दिन बाद China ने अरुण...",2025-01-24T12:18:18.104085Z
8,31,1,2025-01-24T12:26:15.635591Z,29,"[{""start"":0,""end"":6,""text"":""INDIA "",""labels"":[...",474.713,INDIA के साथ तरक्की के सफर पर चलेगा देश । INDI...,2025-01-24T12:26:15.635591Z
9,32,1,2025-01-24T12:29:29.837239Z,30,"[{""start"":0,""end"":6,""text"":""Patna "",""labels"":[...",191.070,Patna और Bengaluru के बाद अब Mumbai में चक दे ...,2025-01-24T12:29:29.837239Z
10,33,1,2025-01-24T12:34:13.968990Z,31,"[{""start"":0,""end"":6,""text"":""यात्रा"",""labels"":[...",277.307,यात्रा' में बेबाक बोले INDIA के लोग। Bharat Jo...,2025-01-24T12:34:13.968990Z
11,34,1,2025-01-24T12:35:05.543239Z,32,"[{""start"":1,""end"":5,""text"":""माता"",""labels"":[""N...",47.957,"""माता-पिता को राहत, कांग्रेस करा रही बेटियों क...",2025-01-24T12:35:05.543239Z
12,35,1,2025-01-24T12:37:44.969844Z,33,"[{""start"":0,""end"":4,""text"":""Modi"",""labels"":[""P...",156.359,Modi-Adani की दोस्ती के चक्कर में देश बर्बाद ह...,2025-01-24T12:37:44.969844Z
13,36,1,2025-01-24T12:39:11.735379Z,34,"[{""start"":1,""end"":12,""text"":""Mallikarjun"",""lab...",83.653,"""Mallikarjun Kharge ने कही बड़ी बात, अगर संविध...",2025-01-24T12:39:11.738964Z
14,37,1,2025-01-24T12:40:15.699418Z,35,"[{""start"":1,""end"":4,""text"":""हम "",""labels"":[""PR...",57.399,"""हम 2024 में BJP को हरा देंगे... जुड़ेगा भारत,...",2025-01-24T12:40:15.699418Z
15,38,1,2025-01-24T12:56:15.474194Z,36,"[{""start"":0,""end"":5,""text"":""मोदी "",""labels"":[""...",89.899,मोदी सरकार 2-3 अरबपतियों की सरकार है- Rahul Ga...,2025-01-24T12:56:15.474194Z
16,39,1,2025-01-24T12:58:54.806612Z,37,"[{""start"":1,""end"":3,""text"":""PM"",""labels"":[""PRO...",156.656,"""PM Modi के सामने झुकने से Nitin Gadkari का इं...",2025-01-24T12:58:54.806612Z
17,40,1,2025-01-24T13:02:00.115595Z,38,"[{""start"":1,""end"":3,""text"":""ये"",""labels"":[""ADP...",181.769,"""ये है गुजरात मॉडल की असलियत, अब जनता झांसे मे...",2025-01-24T13:02:00.115595Z
18,41,1,2025-01-24T13:04:28.035334Z,39,"[{""start"":0,""end"":5,""text"":""Amit "",""labels"":[""...",90.598,Amit Shah को Mallikarjun Kharge ने दिया झन्नाट...,2025-01-24T13:04:28.035334Z
19,42,1,2025-01-24T13:06:00.088836Z,40,"[{""start"":0,""end"":9,""text"":""तेलंगाना "",""labels...",88.608,तेलंगाना में सरकार बनते ही Congress 12 वादे पू...,2025-01-24T13:06:00.088836Z

In [16]:
cv_mithlesh_annotation=cv_mithlesh.iloc[:,2]

In [17]:
cv_mithlesh_annotation

0     No Trucks
1     No Trucks
2     No Trucks
3     No Trucks
4        Trucks
5     No Trucks
6        Trucks
7     No Trucks
8        Trucks
9        Trucks
10    No Trucks
11    No Trucks
12       Trucks
13    No Trucks
14    No Trucks
15    No Trucks
16    No Trucks
17       Trucks
18       Trucks
19    No Trucks
Name: choice, dtype: object

In [ ]:
nlp_annotator1_labels = nlp_mithlesh['label'].apply(lambda x: [entry['labels'][0] for entry in eval(x)]).tolist()

In [20]:
nlp_flatten_annotator1 = [label for sublist in nlp_annotator1_labels for label in sublist]

In [21]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [ ]:
kappa_score = cohen_kappa_score(nlp_flatten_annotator1, nlp_flatten_annotator2)  # Replace the second list with the real annotator 2
print(f"Cohen's Kappa: {kappa_score}")

In [29]:
import pandas as pd
from statsmodels.stats.inter_rater import fleiss_kappa



# Extract the two columns
choice_column = cv_mithlesh["choice"]
second_column = cv_jenil["choice"]

# Organize data into a rating matrix
# Assuming categories are integers or labels, create the rating matrix
categories = sorted(set(choice_column) | set(second_column))  # All unique categories
rating_matrix = []

for i in range(len(choice_column)):
    row = [0] * len(categories)
    row[categories.index(choice_column[i])] += 1
    row[categories.index(second_column[i])] += 1
    rating_matrix.append(row)

# Convert to DataFrame for clarity (optional)
rating_df = pd.DataFrame(rating_matrix, columns=categories)

# Calculate Fleiss' Kappa
kappa = fleiss_kappa(rating_df.values, method='fleiss')
print("Fleiss' Kappa:", kappa)

Fleiss' Kappa: 0.12087912087912075

In [30]:
rating_df

    No Trucks  Trucks
0           2       0
1           2       0
2           2       0
3           1       1
4           0       2
5           2       0
6           1       1
7           1       1
8           1       1
9           0       2
10          1       1
11          2       0
12          0       2
13          2       0
14          2       0
15          2       0
16          2       0
17          1       1
18          1       1
19          1       1

In [3]:
import pandas as pd
from statsmodels.stats.inter_rater import fleiss_kappa

# Assuming `cv_mithlesh`, `cv_jenil`, and `cv_third` DataFrames have a "choice" column
# Extract the three choice columns
choice_column_1 = cv_mithlesh["choice"]
choice_column_2 = cv_jenil["choice"]
choice_column_3 = cv_outsider["choice"]

# Organize data into a rating matrix
# Assuming categories are integers or labels, create the rating matrix
categories = sorted(set(choice_column_1) | set(choice_column_2) | set(choice_column_3))  # All unique categories
rating_matrix = []

for i in range(len(choice_column_1)):
    row = [0] * len(categories)
    row[categories.index(choice_column_1[i])] += 1
    row[categories.index(choice_column_2[i])] += 1
    row[categories.index(choice_column_3[i])] += 1
    rating_matrix.append(row)

# Convert to DataFrame for clarity (optional)
rating_df = pd.DataFrame(rating_matrix, columns=categories)

# Calculate Fleiss' Kappa
kappa = fleiss_kappa(rating_df.values, method='fleiss')
print("Fleiss' Kappa:", kappa)

Fleiss' Kappa: 0.35406698564593314